<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spot it!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="jumbotron text-center" style="background: #034f84;">
  <h1 style="font-family: 'Times New Roman', Times, serif; color:white;">SPOT IT!</h1>
  <p style="color:white">Increase your brain power by spotting things in images</p>
</div>
</head>
</html>